# Overview of the Data Mining Process (Streamline Edition)


## Import required packages

We use the pandas, the Python data analysis library, for handling data. See https://pandas.pydata.org/ for details.

In [ ]:
%matplotlib inline

from pathlib import Path

import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.metrics import r2_score

from sklearn.linear_model import LinearRegression

import matplotlib.pylab as plt

from dmba import regressionSummary

no display found. Using non-interactive Agg backend

[![Open in Colab](http://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/ashish-cell/BADM-211-FA21/blob/main/Notebooks/Data%20Mining%20Overview%20Streamline%20Edition.ipynb)

Note that we import some of the packages using an alias notation, to make the code more readable.
```
import <package> as <alias>
```
The aliases `np`, `pd`, and `plt` are commonly used in the data science community.

The following statement defines the location of the data files in your file system. Here we assume that the data folder is located in the parent folder of this ipython notebook.

### Load the data

Load the Credit_Quant data set, which attempts to identify those people who are more likely to carry a higher balance because the business model of a credit card company is to have customers with higher balances but also with limited risk.

Primarily, we will load either Excel files or comma-separated-value (CSV) files. Note the differences between these two files.

In [ ]:
data_df = pd.read_csv('Credit_Quant.csv')

In [ ]:
#data_df = pd.read_excel('Credit_Quant.xlsx')

#### Show the number of samples and variables in the dataframe.

In [ ]:
data_df.shape

(310, 11)

#### Show the top 10 rows of the dataframe

In [ ]:
data_df.head(10)

,Personal Income,Credit Limit,Credit Rating,Number of Cards,Age,Education Years,Gender,Student,Married,Ethnicity,Credit Balance
0,16.28,1160,126,3,78,13,Male,Yes,Yes,African American,5.0
1,44.47,3500,257,3,81,16,Female,No,No,African American,8.0
2,88.83,4952,360,4,86,16,Female,No,Yes,Caucasian,15.0
3,20.92,1233,128,3,47,18,Female,Yes,Yes,Asian,16.0
4,33.02,3180,224,2,28,16,Male,No,Yes,African American,29.0
5,34.54,3271,250,3,57,17,Female,No,Yes,Asian,47.0
6,34.95,3327,253,3,54,14,Female,No,No,African American,50.0
7,15.48,2762,215,3,60,18,Male,No,No,Asian,52.0
8,26.53,2910,236,6,58,19,Female,No,Yes,Caucasian,52.0
9,17.39,2748,228,3,32,14,Male,No,Yes,Caucasian,68.0

#### Show the bottom 10 rows of the dataframe

In [ ]:
data_df.tail(10)

,Personal Income,Credit Limit,Credit Rating,Number of Cards,Age,Education Years,Gender,Student,Married,Ethnicity,Credit Balance
300,158.89,11589,805,1,62,17,Female,No,Yes,Caucasian,1448.0
301,33.44,6207,451,4,44,9,Male,Yes,No,Caucasian,1549.0
302,121.83,10673,750,3,54,16,Male,No,No,African American,1573.0
303,68.71,7582,531,2,56,16,Male,Yes,No,Caucasian,1587.0
304,107.84,10384,728,3,87,7,Male,No,No,African American,1597.0
305,140.67,11200,817,7,46,9,Male,No,Yes,African American,1677.0
306,124.29,9560,701,3,52,17,Female,Yes,No,Asian,1687.0
307,152.30,12066,828,4,41,12,Female,No,Yes,Asian,1779.0
308,186.63,13414,949,2,41,14,Female,No,Yes,African American,1809.0
309,182.73,13913,982,4,98,17,Male,No,Yes,Caucasian,1999.0

#### Show the variable names (columns of the dataframe)

In [ ]:
data_df.columns

Index(['Personal Income ', 'Credit Limit', 'Credit Rating', 'Number of Cards',
       'Age', 'Education Years', 'Gender', 'Student', 'Married', 'Ethnicity',
       ' Credit Balance  '],
      dtype='object')

#### Show the data types of all variables

In [ ]:
data_df.dtypes

Personal Income      float64
Credit Limit           int64
Credit Rating          int64
Number of Cards        int64
Age                    int64
Education Years        int64
Gender                object
Student               object
Married               object
Ethnicity             object
 Credit Balance      float64
dtype: object

#### Show the variable sequence number, variable name, missing values, and datatypes for all variables in the dataframe. This is an easy way to see the information that would require several lines of code to achieve.

In [ ]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 11 columns):
Personal Income      310 non-null float64
Credit Limit         310 non-null int64
Credit Rating        310 non-null int64
Number of Cards      310 non-null int64
Age                  310 non-null int64
Education Years      310 non-null int64
Gender               310 non-null object
Student              310 non-null object
Married              310 non-null object
Ethnicity            310 non-null object
 Credit Balance      310 non-null float64
dtypes: float64(2), int64(5), object(4)
memory usage: 26.8+ KB

## Cleanup

#### Preprocessing and cleaning up data is an important aspect of data analysis.

We therefore strip trailing spaces and replace the remaining spaces with an underscore _. Instead of using the `rename` method, we create a modified copy of `columns` and assign to the `columns` field of the dataframe.

In [ ]:
data_df.columns = [s.strip().replace(' ', '_') for s in data_df.columns]

data_df.columns

Index(['Personal_Income', 'Credit_Limit', 'Credit_Rating', 'Number_of_Cards',
       'Age', 'Education_Years', 'Gender', 'Student', 'Married', 'Ethnicity',
       'Credit_Balance'],
      dtype='object')

## Accessing subsets of the data
Pandas uses two methods to access rows in a data frame; `loc` and `iloc`. The `loc` method is more general and allows accessing rows using labels. The `iloc` method on the other hand only allows using integer numbers. To specify a range of rows use the slice notation, e.g. `0:9`.

<div class='alert alert-info'>Note that in contrast to R, Python uses 0-indexing, which means that indices start at 0 and not at 1.</div>

To show the first four rows of the data frame, you can use the following commands.

In [ ]:
data_df.loc[0:3]  # for loc, the second index in the slice is inclusive

,Personal_Income,Credit_Limit,Credit_Rating,Number_of_Cards,Age,Education_Years,Gender,Student,Married,Ethnicity,Credit_Balance
0,16.28,1160,126,3,78,13,Male,Yes,Yes,African American,5.0
1,44.47,3500,257,3,81,16,Female,No,No,African American,8.0
2,88.83,4952,360,4,86,16,Female,No,Yes,Caucasian,15.0
3,20.92,1233,128,3,47,18,Female,Yes,Yes,Asian,16.0

In [ ]:
data_df.iloc[0:4]  # for iloc, the second index in the slice is exclusive

,Personal_Income,Credit_Limit,Credit_Rating,Number_of_Cards,Age,Education_Years,Gender,Student,Married,Ethnicity,Credit_Balance
0,16.28,1160,126,3,78,13,Male,Yes,Yes,African American,5.0
1,44.47,3500,257,3,81,16,Female,No,No,African American,8.0
2,88.83,4952,360,4,86,16,Female,No,Yes,Caucasian,15.0
3,20.92,1233,128,3,47,18,Female,Yes,Yes,Asian,16.0

Note the difference in the two methods with respect to the slice notation! For consistency with how slices are defined in Python, we will use the `iloc` method mostly from here on.

Next, show the first ten rows of the first column

In [ ]:
data_df['Personal_Income'].iloc[0:10]

data_df.iloc[0:10]['Personal_Income']

data_df.iloc[0:10].Personal_Income

0    16.28
1    44.47
2    88.83
3    20.92
4    33.02
5    34.54
6    34.95
7    15.48
8    26.53
9    17.39
Name: Personal_Income, dtype: float64

To specify a full column, use the `:` on its own.

housing.iloc[:,0:1]

A often more practical way is to use the column name as follows

In [ ]:
data_df['Personal_Income']

0       16.28
1       44.47
2       88.83
3       20.92
4       33.02
        ...
305    140.67
306    124.29
307    152.30
308    186.63
309    182.73
Name: Personal_Income, Length: 310, dtype: float64

We can subset the column using a slice

In [ ]:
data_df['Personal_Income'][0:10]

0    16.28
1    44.47
2    88.83
3    20.92
4    33.02
5    34.54
6    34.95
7    15.48
8    26.53
9    17.39
Name: Personal_Income, dtype: float64

Alternatively, we can use the .head() command on a single column - an easy method to produce the same results.

In [ ]:
data_df['Personal_Income'].head()

0    16.28
1    44.47
2    88.83
3    20.92
4    33.02
Name: Personal_Income, dtype: float64

In [ ]:
# slicing and dicing by rows and columns, respectively

data_df.iloc[0:10, 0:3]

   Personal_Income  Credit_Limit  Credit_Rating
0            16.28          1160            126
1            44.47          3500            257
2            88.83          4952            360
3            20.92          1233            128
4            33.02          3180            224
5            34.54          3271            250
6            34.95          3327            253
7            15.48          2762            215
8            26.53          2910            236
9            17.39          2748            228

### Descriptive Statistics

A data frame also has the method `describe` that prints a number of common statistics - this is what we will use.

In [ ]:
data_df['Personal_Income'].describe()

count    310.000000
mean      49.979387
std       37.881540
min       10.350000
25%       23.152500
50%       37.140000
75%       63.740000
max      186.630000
Name: Personal_Income, dtype: float64

In [ ]:
data_df.describe() # instead of a single variable, we can describe the entire dataframe (but only numeric variables).

,Personal_Income,Credit_Limit,Credit_Rating,Number_of_Cards,Age,Education_Years,Credit_Balance
count,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000
mean,49.979387,5485.467742,405.051613,2.996774,55.606452,13.425806,670.987097
std,37.881540,2052.451743,137.967389,1.426740,17.341794,3.208904,413.904019
min,10.350000,1160.000000,126.000000,1.000000,23.000000,5.000000,5.000000
25%,23.152500,3976.250000,304.000000,2.000000,42.000000,11.000000,338.000000
50%,37.140000,5147.000000,380.000000,3.000000,55.500000,14.000000,637.500000
75%,63.740000,6453.250000,469.000000,4.000000,69.000000,16.000000,960.750000
max,186.630000,13913.000000,982.000000,9.000000,98.000000,20.000000,1999.000000

### Dummy Coding

Pandas provides a method to convert categorical variables, also called factors, into dummy variables. This is also known as one-hot encoding. 

The parameter prefix_sep indicates what symbol should separate the words of the new variables (Gender becomes Gender_Male and Gender_Female; Gender as a variable will no longer exist). 

The parameter drop_first=True is used for linear models (regression and classification) that cannot function with a 100% collinearity between variables. For example, Gender_Male and Gender_Female are perfectly collinear; when Male = 1, Female = 0 and vice versa. There are models, such as decision trees, that can operate with perfectly collinear variables, and in those cases, you would set drop_first=False.

In [ ]:
data_df = pd.get_dummies(data_df, prefix_sep='_', drop_first=True)

data_df.columns

Index(['Personal_Income', 'Credit_Limit', 'Credit_Rating', 'Number_of_Cards',
       'Age', 'Education_Years', 'Credit_Balance', 'Gender_Male',
       'Student_Yes', 'Married_Yes', 'Ethnicity_Asian', 'Ethnicity_Caucasian'],
      dtype='object')

### Create an object to hold just the predictors and another one to hold just the outcome variable.

In [ ]:
X = data_df.drop('Credit_Balance', axis=1) # all variables EXCEPT Credit_Balance

y = data_df.Credit_Balance # just the outcome variable

### Creating a holdout dataset

Split the dataset into training (60%) and validation (40%) sets. Randomly sample 60% of the dataset into a new data frame `trainData`. The remaining 40% serve as validation. NOTE: THIS IS NOT THE PREFERRED METHOD; SEE BELOW

#### This method also allows a 'stratify' parameter to be set on the response variable in a classification model that guarantees the training and test datasets will have the same ratio of samples in each class.

In [ ]:
from sklearn.model_selection import train_test_split

train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.40, random_state=12)

print('Training   : ', train_X.shape)
print('Validation : ', test_X.shape)

Training   :  (186, 11)
Validation :  (124, 11)

### Create a linear regression model

In [ ]:
# load the linear regression algorithm into an object called "model_lm"
model_lm = LinearRegression()

# fit the linear regression algorithm object to the training data, thus creating a model
model_lm.fit(train_X, train_y)

LinearRegression()

### Check the performance results

In [ ]:
# print performance measures of the training data
regressionSummary(test_y, model_lm.predict(test_X))

Regression statistics

                      Mean Error (ME) : 0.8009
       Root Mean Squared Error (RMSE) : 9.9218
            Mean Absolute Error (MAE) : 7.9308
          Mean Percentage Error (MPE) : 1.3929
Mean Absolute Percentage Error (MAPE) : 3.6940